version: "3"

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - home-network
    depends_on:
      grafana:
        condition: service_started
      mc:
        condition: service_healthy
    restart: always

  mc:
    build:
      context: ./mc
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    environment:
      TYPE: PAPER
      EULA: "TRUE"
      VERSION: "1.20.1"
      MEMORY: "4G"
    networks:
      - home-network
    volumes:
      - mc-data:/data
      - ./mc/whitelist.json:/data/whitelist.json:ro
      - ./mc/ops.json:/data/ops.json:ro
      - ./mc/server.properties:/data/server.properties
      - ./mc/paper-global.yml:/config/paper-global.yml
    restart: always

  monitor:
    image: itzg/mc-monitor
    command: export-for-prometheus
    environment:
      EXPORT_SERVERS: mc
      DEBUG: "true"
    depends_on:
      - mc
    networks:
      - home-network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.1
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - home-network

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/config.yml:/etc/prometheus/prometheus.yml
      - prometheus-tsdb:/prometheus
    depends_on:
      - monitor
    networks:
      - home-network

  grafana:
    image: grafana/grafana-oss:latest
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/dashboards:/etc/grafana/dashboards
    depends_on:
      - prometheus
    restart: always
    networks:
      - home-network

  velocity:
    image: itzg/bungeecord
    environment:
      TYPE: velocity
      DEBUG: "true"
      ENABLE_RCON: "true"
      PLUGINS: |
        https://cdn.modrinth.com/data/axTqSWQA/versions/I8wYnsdu/Advanced-Portals-Spigot-2.5.0.jar
    ports:
      - "25565:25577"
    volumes:
      - ./velocity/velocity.toml:/config/velocity.toml:ro
      - ./velocity/forwarding.secret:/config/forwarding.secret:ro
    networks:
      - home-network
    restart: always

  mc-loby:
    build:
      context: ./mc-loby
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    environment:
      TYPE: PAPER
      ONLINE_MODE: "false"
      EULA: "TRUE"
      VERSION: "1.20.1"
      SYNC_SKIP_NEWER_IN_DESTINATION: "false"
      PLUGINS: |
        https://cdn.modrinth.com/data/axTqSWQA/versions/I8wYnsdu/Advanced-Portals-Spigot-2.5.0.jar
    volumes:
      - ./mc-loby/paper-global.yml:/config/paper-global.yml
      - ./mc-loby/whitelist.json:/data/whitelist.json:ro
      - ./mc-loby/ops.json:/data/ops.json:ro
      - ./mc-loby/server.properties:/data/server.properties
      - ./mc-loby/data:/data
    networks:
      - home-network
    restart: always

networks:
  home-network:
    driver: bridge

volumes:
  mc-data:
  grafana-storage:
  prometheus-tsdb:
  mc-loby-data:
