version: "3"

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certs:/etc/nginx/certs
    networks:
      - home-network
    depends_on:
      grafana:
        condition: service_started
    restart: always

  monitor:
    image: itzg/mc-monitor
    command: export-for-prometheus
    environment:
      EXPORT_SERVERS: mc
      DEBUG: "true"
    networks:
      - home-network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.1
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - home-network

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/config.yml:/etc/prometheus/prometheus.yml
      - prometheus-tsdb:/prometheus
    depends_on:
      - monitor
    networks:
      - home-network

  grafana:
    image: grafana/grafana-oss:latest
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/dashboards:/etc/grafana/dashboards
    depends_on:
      - prometheus
    restart: always
    networks:
      - home-network

  portainer:
    image: portainer/portainer-ce:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - home-network
    restart: always

  filebrowser:
    image: filebrowser/filebrowser:latest
    volumes:
      - /home/kouta:/srv
      - ./filebrowser/filebrowser.db:/srv/filebrowser.db
    networks:
      - home-network
    restart: always  

  velocity:
    image: itzg/bungeecord
    environment:
      TYPE: velocity
      DEBUG: "true"
      ENABLE_RCON: "true"
      PLUGINS: |
        https://cdn.modrinth.com/data/axTqSWQA/versions/I8wYnsdu/Advanced-Portals-Spigot-2.5.0.jar
    ports:
      - "25565:25577"
    volumes:
      - ./minecraft/velocity/velocity.toml:/config/velocity.toml:ro
      - ./minecraft/velocity/forwarding.secret:/config/forwarding.secret:ro
      - velocity-data:/data
    networks:
      - home-network
    restart: always

  loby:
    build:
      context: ./minecraft/loby
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    environment:
      TYPE: PAPER
      EULA: "TRUE"
      VERSION: "1.20.1"
      MEMORY: "4G"
    networks:
      - home-network
    volumes:
      - ./minecraft/loby/data:/data
      - ./minecraft/loby/whitelist.json:/data/whitelist.json:ro
      - ./minecraft/loby/ops.json:/data/ops.json:ro
      - ./minecraft/loby/server.properties:/data/server.properties
      - ./minecraft/loby/paper-global.yml:/config/paper-global.yml
    restart: always

networks:
  home-network:
    driver: bridge

volumes:
  grafana-storage:
  prometheus-tsdb:
  portainer_data:
  velocity-data:
