version: "3"

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certs:/etc/nginx/certs
    networks:
      - home-network
    depends_on:
      grafana:
        condition: service_started
    restart: always

  monitor:
    image: itzg/mc-monitor
    command: export-for-prometheus
    environment:
      EXPORT_SERVERS: mc
      DEBUG: "true"
    networks:
      - home-network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.1
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - home-network

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/config.yml:/etc/prometheus/prometheus.yml
      - prometheus-tsdb:/prometheus
    depends_on:
      - monitor
    networks:
      - home-network

  grafana:
    image: grafana/grafana-oss:latest
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/dashboards:/etc/grafana/dashboards
    depends_on:
      - prometheus
    restart: always
    networks:
      - home-network

  portainer:
    image: portainer/portainer-ce:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - home-network
    restart: always

  filebrowser:
    image: filebrowser/filebrowser:latest
    volumes:
      - ./minecraft:/srv
      - ./filebrowser/database.db:/database.db
    networks:
      - home-network
    restart: always  

  velocity:
    image: itzg/bungeecord
    environment:
      TYPE: velocity
      DEBUG: "true"
    ports:
      - "25565:25577"
    volumes:
      - ./velocity/velocity.toml:/config/velocity.toml:ro
      - ./velocity/forwarding.secret:/config/forwarding.secret:ro
    networks:
      - home-network
    restart: always

  bot-velocity:
    image: itzg/bungeecord
    environment:
      TYPE: velocity
      DEBUG: "true"
      BUNGEE_NAME: bot-velocity
    volumes:
      - ./bot-velocity/velocity.toml:/config/velocity.toml:ro
      - ./bot-velocity/forwarding.secret:/config/forwarding.secret:ro
    networks:
      - home-network
    restart: always

  lobby:
    build:
      context: ./minecraft/lobby
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    networks:
      - home-network
    volumes:
      - ./minecraft/lobby/world:/data/world
      - ./minecraft/lobby/server.properties:/data/server.properties
      - ./minecraft/lobby/whitelist.json:/data/whitelist.json
      - ./minecraft/lobby/paper-global.yml:/data/paper-global.yml
    restart: always

networks:
  home-network:
    external: true

volumes:
  grafana-storage:
  prometheus-tsdb:
  portainer_data:
