
services:
    forge:
        build:
            context: ./forge
            dockerfile: Dockerfile
        environment:
            - VELOCITY_SECRET=${VELOCITY_SECRET}
        volumes:
            - ./forge/server.properties:/data/server.properties
            - ./forge/ops.json:/data/ops.json
            - ./forge/whitelist.json:/data/whitelist.json
            - ./forge/world:/data/world
            - ./forge/mods:/data/mods
            - ./forge/config:/data/config
        networks:
            - home-network
        restart: always
        tty: true
        stdin_open: true
    large:
        build:
            context: ./large
            dockerfile: Dockerfile
        environment:
            - VELOCITY_SECRET=${VELOCITY_SECRET}
        volumes:
            - ./large/server.properties:/data/server.properties
            - ./large/ops.json:/data/ops.json
            - ./large/whitelist.json:/data/whitelist.json
            - ./large/world:/data/world
            - ./large/mods:/data/mods
            - ./large/config:/data/config
        networks:
            - home-network
        restart: always
        tty: true
        stdin_open: true
networks:
    home-network:
        external: true
