
services:
    forge:
        build:
            context: ./forge
            dockerfile: Dockerfile
        volumes:
            - ./forge/server.properties:/data/server.properties
            - ./forge/world:/data/world
            - ./forge/mods:/data/mods
            - ./forge/config:/data/config
        networks:
            - home-network
        restart: always
        tty: true
        stdin_open: true
    large:
        build:
            context: ./large
            dockerfile: Dockerfile
        volumes:
            - ./large/server.properties:/data/server.properties
            - ./large/world:/data/world
            - ./large/mods:/data/mods
            - ./large/config:/data/config
        networks:
            - home-network
        restart: always
        tty: true
        stdin_open: true
    large-paper:
        build:
            context: ./large-paper
            dockerfile: Dockerfile
        volumes:
            - ./large-paper/server.properties:/data/server.properties
            - ./large-paper/data:/data/
            - ./large-paper/plugins:/data/plugins
            - ./large-paper/spigot.yml:/data/spigot.yml
        networks:
            - home-network
        restart: always
        tty: true
        stdin_open: true
networks:
    home-network:
        external: true
